.el-dialog {
  border-radius: 6px !important;
  overflow: hidden !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  .el-dialog__header {
    padding: 0 16px;
    margin: 0;
    height: 39px;
    line-height: 39px;
    background-color: #f5f5f5;
    font-size: 16px;
    border-bottom: 1px solid #dcdfe6;
    position: relative;
    .el-dialog__headerbtn {
      height: 39px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .el-dialog__body {
    padding: 15px 20px;
    overflow: hidden;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    display: flex;
    flex-flow: column;
    & > div {
      flex: 1;
    }
  }
  .el-dialog__footer {
    padding: 16px 16px 0 16px;
    border-top: 1px solid #dcdfe6;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #90939980;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
.el-overlay-dialog {
  overflow: hidden;
}
