.el-table {
  --el-table-header-bg-color: #54545d !important;
  --el-table-header-text-color: #FFF !important;
}
.el-table-v2 {
  --el-table-header-bg-color: #54545d !important;
  --el-table-header-text-color: #FFF !important;
}