.el-header {
  background-color: var(--default-background-color);
  color: var(--default-color);
  padding-left: 0 !important;
  display: flex;
  img {
    width: var(--el-aside-width);
    height: var(--el-header-height);
  }
  .common-header-content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__breadcrumb {
      flex: 1;
    }
  }
}