.el-aside {
  width: auto !important;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--el-bg-color-page);
  .el-menu {
    border: 0;
  }
  .el-menu:not(.el-menu--collapse) {
    width: var(--el-aside-width);
  }
  .el-menu-item:hover,
  .el-sub-menu__title:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .el-menu--inline {
    background-color: #2b2b35;
  }
  .header-img-menuItem {
    background-image: url(@/assets/img/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: var(--default-header-height);
    padding: 0 !important;
    line-height: var(--default-header-height);
  }
  .el-menu--collapse .header-img-menuItem {
    background: none;
    font-weight: bold;
    &::before {
      content: '';
      background-image: url(@/assets/img/collapse-log.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: 20px;
      height: 100%;
      width: 100%;
    }
  }
  .is-active {
    .el-sub-menu__title {
      color: var(--el-color-primary);
    }
  }
}
