.el-aside {
  width: auto !important;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: var(--el-bg-color-page);
  .el-menu {
    border: 0;
  }
  .el-menu:not(.el-menu--collapse) {
    width: var(--el-aside-width);
  }
  .el-menu-item:hover,
  .el-sub-menu__title:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .el-menu--inline {
    background-color: #f1f1f1;
    .el-menu-item {
      position: relative;
      &::after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #bfcbd9;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        margin-left: 2.5px;
        background-color: #dcdfe6;
        transform: translateX(-50%);
      }
    }
  }
  .header-img-menuItem {
    background-image: url(@/assets/img/logo.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: var(--default-header-height);
    padding: 0 !important;
    line-height: var(--default-header-height);
  }
  .el-menu--collapse .header-img-menuItem {
    background: none;
    font-weight: bold;
    &::before {
      content: '';
      background-image: url(@/assets/img/collapse-log.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-size: 20px;
      height: 100%;
      width: 100%;
    }
  }
  .is-active {
    .el-sub-menu__title {
      color: var(--el-color-primary);
    }

    .el-menu--inline {
      .el-menu-item.is-active {
        &::after {
          background-color: var(--el-color-primary);
        }
      }
    }
  }

  .el-sub-menu .el-icon {
    margin-right: 10px !important;
  }
}
.dark .el-aside {
  .el-menu--inline {
    background-color: #2b2b35;
    .el-menu-item {
      &::after {
        background-color: #c4c4c4;
      }
      &::before {
        background-color: #474753;
      }
    }
  }
}
