@import 'el-aside';
@import 'el-header';
@import 'el-main';
@import 'el-tabs';
@import 'el-divider';

:root {
  // 头部高度
  --default-header-height: 50px;
  // 导航宽度
  --el-aside-width: 230px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.15;
  background-color: #f9f9f9;
}

li {
  list-style: none;
}

#app,
.el-container {
  height: 100%;
}

img {
  vertical-align: middle;
}

.cursor {
  cursor: pointer;
}

.hidden {
  overflow: hidden;
}

.flow {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.el-menu--vertical.el-menu--popup-container {
  background: var(--el-bg-color-page);
}
