@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': green,
    ),
  ),

  $header: (
    'height': var(--default-header-height),
  ),

  $bg-color: (
    'page': #f9f9f9,
  ),

  $tabs: (
    'header-height': 34px,
  ),

  $fill-color: (
    'blank': transparent,
  )
);

@use 'element-plus/theme-chalk/src/index.scss' as *;
